<h3>Signup</h3>

<%= form_tag signup_path do %>
	<%= label_tag "Name" %>
	<%= text_field_tag :name %>

	<%= label_tag "Email" %>
	<%= text_field_tag :email %>

	<%= label_tag "Password" %>
	<%= password_field_tag :password %>

	<%= label_tag "Password Confirmation" %>
	<%= password_field_tag :password_confirmation %>
	
	<br/>
	<%= submit_tag "Create my account" %>
<% end %>